@model EventVenueBookingSystem.Models.Venue
<form asp-action="Create" enctype="multipart/form-data">
    <label>Name</label>
    <input asp-for="Name" class="form-control" />
    <label>Location</label>
    <input asp-for="Location" class="form-control" />
    <label>Capacity</label>
    <input asp-for="Capacity" class="form-control" />
    <label>Availability</label>
    <input asp-for="IsAvailable" class="form-check-input" type="checkbox" />
    <label>Image</label>
    <input type="file" name="ImageFile" class="form-control" />
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>